.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/.eslintrc.json
eslint.config.mjs
**/*.map
**/*.ts
!l10n/**
node_modules/**
.kiro/**
*.patch
*.vsix
.DS_Store
.idea/**
